<!DOCTYPE html>
<html>

<head>
</head>

<body>

    <div class = "top-main">
        <div class = "top-title">
            <h1>Check a porker hand</h1>
        </div>
        <div class = "top-input">
            <%= form_tag("/home/judge", method:"get") do %>
                <% if @hands.present? %>
                    <input name="hand" value="<%= @hands.hand_array&.join(" ") %>"></input>
                <% else %>
                    <input name="hand"></input>
                <% end %>
                
                <input type="submit" value="check"></input>
            <% end %>
        </div>
         <% if @hands.present? %>
             <% if @hands.error_messages.present? %>
                <%= @hands.error_messages.uniq.join("<br>").html_safe %>
             <% end %>
    　       <% if @hands.result.present? && @hands.error_messages.blank? %>
                <%= @hands.result %>
             <% end %>
         <% end %>
        
    </div>

</body>

</html>